<div class="contain-to-grid sticky"> 
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section" id="menu">
    <%= zurb_menu(refinery_menu_pages, list_tag_css: 'left').to_html %>

    <ul class="right">
		<li class="has-dropdown">
			<a href="#"><i class="fa fa-globe fa-2x"></i></a>	
			<ul class="dropdown">
				<% Refinery::I18n.frontend_locales.each do |frontend_locale| %>
			    <li>
			      <%= link_to Refinery::I18n.locales[frontend_locale], {:locale => frontend_locale} %>
			    </li>
			  	<% end %>
			</ul>
		</li>
	</ul>
  </section>

</nav>
</div>